body{
  background-color: rgb(60, 206, 162);
}
#n1 {
background-color: rgb(43, 226, 226);
width: 200px;
height: 100px;
}
#n2 {
background-color: rgb(43, 226, 226);
width: 200px;
height: 100px;
}
#operation {
  background-color: rgb(43, 226, 226);
  width: 200px;
  height: 100px;
}
main{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;

}
p {
  color: rgb(215, 215, 216);
  font-size: 80px;
}
